@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 1rem 15rem;
}
nav h2{
    font-size: 3rem;
}
nav h2 .logo-color{
    color: #FD6E0A;
}
nav .nav-ul{
    display: flex;
    align-items: center;
    font-weight: 400; 
}
.nav-ul li{
    list-style: none;
    margin-left: 3rem;
    font-size: 1.6rem;
    font-weight: 400;
}
.nav-ul button{
    background: #FD6E0A;
    color: #fff;
    padding: .7rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}

#header{
    /* height: 90vh; */
    /* margin: 0 15rem; */
    background-color: #fce9dc;
    background-image: url("./images/header_bg.png"), url("./images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right, 2%;
    background-size: contain;
}

#banner{
    margin: 0 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner-left h3{
    font-size: 2.5rem;
}
.banner-left h1{
    font-size: 5rem;
    margin-bottom: 1.5rem;
}
.banner-left p{
    font-size: 1.7rem;
    font-weight: 400;
    margin-bottom: 2rem;
}
.banner-left .contact-btn{
    font-size: 1.8rem;
    color: #FD6E0A;
    padding: 1rem 2.5rem;
    border: 1px solid #FD6E0A;
    border-radius: 0.5rem;
    cursor: pointer;
    margin-left: 1rem;
}

main{
    max-width: 100rem;
    margin: auto;
}
.download-btn{
    font-size: 1.8rem;
    background: #FD6E0A;
    color: #fff;
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
}
.title-heading{
    font-size: 3rem;
    text-align: center;
    margin-bottom: 3rem;
}
.section-desc{
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 5rem;
    text-align: justify;
}

/* about styling */

.about{
    margin-top: 20rem;
    margin-bottom: 20rem;
    padding: 12rem 15rem;
    background: #e0c1ac;
}
.about-div{
    display: flex;
    justify-content: space-between;
}
.about-div p{
    text-align: center;
    font-size: 1.8rem;
}
.about-div p span{
    font-weight: 700;
}

/* what i do styling  */

#what-i-do{
    margin: 20rem 0;
}
.skills{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.skill{
    /* border: 1px solid red; */
    /* background-color: #e0c1ac; */
    padding: 2.5rem;
    box-shadow: .2rem .2rem 1rem gray;
}
.skill h2{
    margin: 2rem 0;
    font-size: 2rem;
}
.skill p{
    font-size: 1.6rem;
    font-weight: 400;
    /* text-align: justify; */
    line-height: 2.5rem;
}

/* summary styling */

.resume-div{
    display: flex;
    gap: 3rem;
    /* justify-content: space-between; */
}
.resume-div  h2{
    font-size: 2rem;
}
.resume-div p{
    font-size: 1.6rem;
}
.education-div div, 
.experience-div div{
    margin-bottom: 5rem;
    border-bottom: .1px solid rgba(0, 0, 0, 0.486);
}
.education-div > h2, 
.experience-div > h2{
    margin-bottom: 4rem;
    margin-top: 5rem;
}
.education-div div > p, 
.experience-div div > p{
    margin-bottom: 1.5rem;
    font-weight: 500;
}
#summary .download-btn{
    margin: 3rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
}